{% extends 'home/home.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>与"{{ search_keyword }}"有关的电影，共{{ search_counts }}部</li>
            </ol>
        </div>

        
        <div class="col-md-12">
           {% for search_movie in search_movies %}
                <div class="media">
                <div class="media-left">
                    <a href="{% url 'play' search_movie.id %}">
                        <img class="media-object" src="/media/{{ search_movie.logo }}" alt="环太平洋">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ search_movie.title }}<a href="{% url 'play' search_movie.id %}" class="label label-primary pull-right"><span class="glyphicon glyphicon-play"></span>播放影片</a></h4>
                    {{ search_movie.desc }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="First">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li><a href="#">1&nbsp;/&nbsp;10</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Last">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}